content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
article h1 {
  font-size: 32px;
  font-weight: 600;

  margin-top: 2rem;
}
article p {
  margin-top: 2rem;
  width: 90%;
}
content img {
  float: left;
  width: 40%;

  margin: 5rem 3rem;
}
